<main class="h-auto w-full flex flex-col bg-[#2B2B2B]">
    <section class="flex text-white justify-center md:justify-start flex items-center font-Main w-full p-[20px]">
        <h1 class="flex items-center text-[30px] md:text-[37px]">AB<img src="../../assets/images/OnlyO.png" alt="" class="w-[25px] md:w-[30px]">UT</h1>
    </section>
    <section class="my-[20px]">
        <section class="flex justify-around items-center mt-[30px]">
            <section class="text-white font-Main">
                <h1 class="font-Main my-[20px] text-2xl">Osiris</h1>
                <p class="text-xl">Osiris is one of the popular <br>
                    and best skate shoes in <br>
                    the Whole WORLD !</p>
                <p class="flex mt-[20px] items-center">Original Website : <a href="https://osirisshoes.com"><img src="../../assets/images/OnlyO.png" alt="" class="w-[30px] mx-[10px]"></a></p>
            </section>
            <section class="hidden md:flex">
                <img src="../../assets/images/Osiris.png" alt="" class="w-[200px]">
            </section>
        </section>
    </section>
    <section class="bg-[#000000] w-full rotate-6 mt-[75px] p-[10px] flex justify-center">
        <marquee behavior="scroll" direction="left" class="w-full"><img src="../../assets/images/Osiris.png" alt="" class="w-[50px] md:w-[75px]"></marquee>
    </section>
    <section class="w-full flex p-[30px] text-white font-Main">
        <section class="w-full p-[20px] flex flex-col justify-center items-center">
            <h1 class="text-[30px] my-[10px]">About me</h1>
            <p class="my-[20px]">Hello I am Lazare Frontend Developer from Tbilisi,Georgia</p>
            <p class="flex items-center">Portfolio : <a href="https://lazare-mirziashvili.vercel.app"><i class="fa-regular fa-user text-[30px]"></i></a></p>
        </section>
    </section>
</main>