<footer class="w-full h-auto p-[20px] bg-[#1F1F1F]">
    
    <main class="w-full h-auto p-[10px] flex flex-col text-white p-[10px] font-Main items-center p-[20px] ">
        <section class="text-2xl md:text-[34px] my-[40px]">
            <h1>Contact Information</h1>
        </section>
        <section class="flex justify-center flex-col h-[70vh] p-[20px] md:p-[0px] items-center md:justify-center w-full">
            <section class="my-[20px] w-full flex flex-col items-center md:justify-center">
                <h3 class="text-2xl my-[10px]">Phone</h3>
                <a href="tel:555992212"><h2 class="text-md md:text-xl w-full">(+995) 555 992 212</h2></a>
            </section>
            <section class="my-[20px] w-full flex flex-col items-center md:justify-center">
                <h3 class="text-2xl my-[10px]">Mail</h3>
                <a href="mailto:lazaremirziashvili8@gmail.com">
                    <h2 class="text-md md:text-xl w-full">
                        lazaremirziashvili8 gmail.com
                    </h2>
                </a>
            </section>
            <section class="my-[20px] flex flex-col items-center md:justify-center w-full">
                <h3 class="text-2xl my-[10px]">Portfolio</h3>
                <a href="https://lazare-mirziashvili.vercel.app"><h2 class="text-md md:text-xl">lazare-mirziashvili.vercel.app</h2></a>
            </section>
        </section>
    </main>

</footer>