<nav class="fixed w-full backdrop-blur-lg object-top">
  <main class="font-Main flex justify-around items-center w-full p-[10px] relative backdrop-blur-lg">
    <section *ngIf="IsNormal">
      <a href="../index.html"><img src="../assets/images/Osiris.png" alt="Osiris" class="w-[50px] md:w-[75px]"></a>
    </section>
    <section class="hidden md:flex text-white">
      <ul class="">
        <a href="#1" class="mx-[10px] md:text-xl cursor-pointer"><button class="duration-500 ease-in-out hover:scale-110">Home</button></a>
        <a href="#2" class="mx-[10px] md:text-xl cursor-pointer"><button class="duration-500 ease-in-out hover:scale-110">Products</button></a>
        <a href="#3" class="mx-[10px] md:text-xl cursor-pointer"><button class="duration-500 ease-in-out hover:scale-110">About</button></a>
        <a href="#4" class="mx-[10px] md:text-xl cursor-pointer"><button class="duration-500 ease-in-out hover:scale-110">Contact</button></a>
      </ul>
    </section>
    <section class="hidden md:flex text-white">
      <a href="https://lazare-mirziashvili.vercel.app"><i class="fa-regular fa-user text-[35px]"></i></a>
    </section>
    <section class="flex md:hidden text-white" *ngIf="IsNormal">
      <button (click)="OpenMenu()"><i class="fa-solid fa-bars text-2xl"></i></button>
    </section>
    <section class="flex flex-col items-around w-full text-white" *ngIf="IsMenu">
      <button (click)="CloseMenu()" class="w-full flex justify-end"><i class="fa-solid fa-x text-2xl text-red-600"></i></button>
      <ul class="flex flex-col">
        <a href="#1" class="my-[5px] text-md"><button class="duration-500 ease-in-out hover:-translate-y-1 hover:scale-110">Home</button></a>
        <a href="#2" class="my-[5px] text-md"><button class="duration-500 ease-in-out hover:-translate-y-1 hover:scale-110">Products</button></a>
        <a href="#3" class="my-[5px] text-md"><button class="duration-500 ease-in-out hover:-translate-y-1 hover:scale-110">About</button></a>
        <a href="#4" class="my-[5px] text-md"><button class="duration-500 ease-in-out hover:-translate-y-1 hover:scale-110">Contact</button></a>
      </ul>
    </section>
  </main>
</nav>

<app-shoes-landing id="1"></app-shoes-landing>
<app-products id="2"></app-products>
<app-about id="3"></app-about>
<app-contact id="4"></app-contact>