<main class="w-full h-auto p-[10px] flex justify-center items-center flex-wrap bg-[#2B2B2B]">
    <main *ngFor="let i of shoes.Osiris_Shoes" class="rounded-[15px] flex-wrap relative mx-[50px] my-[20px] bg-[#ffffff] w-[350px] h-auto items-center flex flex-col text-center items-around">
        <section class="justify-start flex p-[10px] rounded-2xl rounded-b-none">
            <img src="{{i.Img}}" alt="">
        </section>
        <section class="flex flex-col text-center items-center p-[10px] font-Main">   
            <section class="text-xl md:text-2xl">
                <h1>{{i.Name}}</h1>
            </section>
            <section class="text-md md:text-xl">
                <h3>{{i.Price}}$</h3>
            </section>
            <section class="text-sm md:text-md my-[10px]">
                <h5>{{i.Title}}</h5>
            </section>
        </section>
        <a href="{{i.Link}}" class="w-full bg-[#DCDCDC] rounded-b-[15px]"><section class="w-full bg-[#505050] text-white rounded-b-2xl p-[10px]">
            <button class="text-2xl font-Main">More</button>
        </section></a>
    </main>
</main>
<section class="p-[20px] bg-[#000000] text-white flex justify-center items-center font-Main">
    <h1 class="text-xl md:text-2xl">And here is the about section</h1>
</section>